<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headSeccionesInformacion.ejs") %>
</head>
<body>
    <%- include("./partials/menu.ejs") %>

    <div class="inferior_productos">
        <div class="containerBlog">
          <section class="blogInicio">
            <article class="blogArticulo">
              <img src="..\images\blog1.avif" alt="">
              <b>Los mejores accesorios para mejorar tu experiencia de gaming</b>
              <p class="texto-oculto" style="text-align: justify;"> <br> Si eres un apasionado de los videojuegos, sabes que tener los accesorios adecuados puede marcar la diferencia en tu experiencia de juego. En nuestra tienda de hardware, hemos seleccionado cuidadosamente los mejores accesorios para gamers que te ayudarán a mejorar tu rendimiento y a disfrutar de tus juegos favoritos al máximo. <br><br>

                Entre los accesorios que recomendamos se encuentran los teclados mecánicos, que ofrecen una respuesta más rápida y precisa que los teclados convencionales. También recomendamos los ratones de gaming, que están diseñados específicamente para satisfacer las necesidades de los jugadores más exigentes, con una alta sensibilidad y una mayor precisión.
                <br><br>
                
                Además, los auriculares de gaming son una excelente opción para aquellos que quieren sumergirse completamente en el juego, con un sonido envolvente que te permitirá escuchar cada detalle. Y si buscas una experiencia aún más inmersiva, los monitores de alta definición y la tecnología de realidad virtual son una excelente opción.
                <br><br>
                
                
                No esperes más para mejorar tu experiencia de gaming con los mejores accesorios del mercado. ¡Visita nuestra tienda de hardware y descubre todo lo que tenemos para ofrecerte!<br><br></p>
              <button class="ver-mas">Ver más</button>
            </article>
            <article class="blogArticulo">
                <img src="..\images\blog2.webp" alt="">
                <b>Cómo proteger tu PC de virus y malware con software antivirus de alta calidad</b>
                <p>  </p>
                <p class="texto-oculto" style="text-align: justify;"><br>Con la creciente amenaza de virus y malware en Internet, tener un software antivirus de confianza en tu PC se ha vuelto imprescindible. De lo contrario, podrías perder información valiosa, dañar tu hardware o incluso poner en riesgo tus datos personales. <br><br>
                  
                  Las principales ventajas de contar con un software antivirus profesional son:<br><br>
                  
                  •Protección las 24 horas contra malware desconocido como virus, troyanos, gusanos, spyware, ransomware y muchas otras amenazas.<br><br>
                  
                  •Detección y eliminación automática de cualquier software potencialmente no deseado (PUA) que pueda ser peligroso.<br><br>
                  
                  •Bloqueo de sitios web maliciosos que intentan infectar tu PC o robar tu información confidencial.<br><br>
                  
                  •Ventanas emergentes, correos no deseados y otras molestias son impedidas por el antivirus.<br><br>
                  
                  •Actualizaciones automáticas de bases de datos que añaden protección continua contra nuevas amenazas.<br><br>
                  
                  No expongas tu PC y tus datos a riesgos innecesarios. Protege tu sistema operativo y tu información confidencial. ¡Te ayudará a navegar con mayor seguridad y tranquilidad!<br><br></p>
                <button class="ver-mas">Ver más</button>
              </article>
              <article class="blogArticulo">
                <img src="..\images\blog3.webp" alt="">
                <b>Los componentes de hardware más populares del año</b>
                <p>  </p>
                <p class="texto-oculto" style="text-align: justify;"><br>Este año hemos visto un surgimiento de nuevos y emocionantes componentes de hardware que sin duda han revolucionado el mundo de los PCs y los juegos. Hemos seleccionado los 5 componentes más populares basados en ventas y comentarios de clientes.<br><br>

                  Gráficas Nvidia RTX Serie 30 - La línea RTX 30 de Nvidia ha renovado por completo el panorama de las tarjetas gráficas con sus velocidades revolucionarias y funciones de trazado de rayos. Modelos como la RTX 3080 y 3090 ofrecen un rendimiento sin precedentes para juegos y tareas de productividad.<br><br>
                  
                  Unidades de Estado Sólido (SSD) - Los SSDs han eliminado por completo a los lentos discos duros (HDD) convencionales, gracias a su velocidad de lectura y escritura muchas veces mayor. Marcas líderes como Samsung, Western Digital y Crucial han lanzado SSDs de hasta 1TB para ofrecer almacenamiento masivo a alta velocidad.<br><br>
                  
                  Procesadores AMD Ryzen 5000 Series - Los nuevos chips Ryzen 5000 de AMD marcan un gran paso adelante con su arquitectura, ofreciendo un rendimiento sin precedentes con un consumo eficiente de energía. Son una excelente opción para PC gamers y entusiastas.<br><br>
                  
                  Auriculares inalámbricos - Los auriculares inalámbricos se han convertido cada vez más populares por su comodidad y libertad de movimiento. Modelos como Airpods Pro de Apple y QuietComfort 35 II de Bose ofrecen una calidad de audio superior con cancelación de ruido.<br><br>
                  
                  Monitores ultrawide - Los monitores ultrawide de 49 pulgadas y más se han apoderado este año, ofreciendo una experiencia de visualización increíblemente inmersiva que abarca todo el campo de visión del usuario. Son ideales para tareas de productividad y juegos.<br><br></p>
                <button class="ver-mas">Ver más</button>
              </article>
              <article class="blogArticulo">
                <img src="..\images\blog4.webp" alt="">
                <b>Cómo construir tu propia PC de alta gama para juegos</b>
                <p>  </p>
                <p class="texto-oculto" style="text-align: justify;"><br>¿Te encantan los juegos más intensivos y exigentes pero sientes que tu PC actual no lo soporta? ¡Construir tu propia PC de gama alta puede ser la solución! Con sólo unos pocos componentes básicos y siguiendo algunas sencillas instrucciones, puedes armar una máquina para juegos que no tenga comparación.<br><br>

                  Los componentes clave que necesitarás son:<br><br>
                  
                  • Procesador poderoso: Opta por uno de los últimos chips de gama alta de Intel o AMD, como un Intel Core i7 o i9, o un AMD Ryzen 7 o 9. Estos chips ofrecen el rendimiento que necesitas para manejar juegos exigentes.<br><br>
                  
                  • Tarjeta gráfica potente: Una RTX 2080 Ti de Nvidia o una Radeon VII de AMD pueden ejecutar cualquier juego en configuraciones Ultra y con trazado de rayos.<br><br>
                  
                  • Placa base compatible: Elige una placa base de gama alta que sea compatible con tu CPU y GPU. Debes asegurarte que tiene suficientes ranuras para almacenamiento y memoria que necesitarás.<br><br>
                  
                  • Memoria RAM rápida: Apunta a entre 16GB y 32GB de memoria DDR4 a al menos 3000MHz. La RAM rápida ayuda a liberar cuellos de botella.<br><br>
                  
                  • Almacenamiento masivo: Combina un SSD para arranque rápido con un HDD de gran capacidad para almacenar tu biblioteca de juegos.<br><br>
                  
                  Una vez que tengas los componentes principales, sólo necesitas reunir las otras piezas y ensamblarlo siguiendo guías en video o tutoriales en línea. Asegúrate de tener pasta térmica, suministro de energía compatible y una carcasa para tu nueva construcción.<br><br>
                  
                  Una vez que tengas tu PC para juegos personalizada lista, disfrutarás de un rendimiento y una velocidad sin comparación. Podrás ejecutar el último juego AAA en la configuración máxima sin sacrificar cuadros por segundo. Así que, ¡manos a la obra y construye tu propia bestia para juegos! Si tienes alguna pregunta acerca del proceso, déjame saber.<br><br></p>
                <button class="ver-mas">Ver más</button>
              </article>
            </section>
        </div>
    </div>

      

  <%- include("./partials/footer.ejs") %>

  <script>
    const btns = document.querySelectorAll('.ver-mas');
const texts = document.querySelectorAll('.texto-oculto');

btns.forEach(btn => {
  btn.addEventListener('click', () => {
    toggleText(btn);  
  });
});

function toggleText(btn) {
  const text = btn.parentNode.querySelector('.texto-oculto');
  if (text.style.display === 'none') {
    text.style.display = 'block';    
    btn.textContent = 'Ocultar';    
  } else {   
    text.style.display = 'none';   
    btn.textContent = 'Ver más';   
  }
}  
  </script>
  <script src="./js/carrito.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>