<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/headSeccionesInformacion.ejs") %>
</head>
<body>
    
    <%- include("./partials/menu.ejs") %>
    
    <div class="comoFunciona_i">
        
        <div class="container_cf">

             <div class="container_info_cf">
                 <h1>COMO</h1>
                <H2>FUNCIONA</H2>
                <p>Navegación: Los usuarios acceden a nuestro sitio web a través de un navegador web y navegan por las diferentes categorías de productos, como smartphones, laptops, tablets, accesorios, entre otros. <br><br>

                Selección de producto: Los usuarios pueden seleccionar el producto que desean comprar y acceder a la página de detalles del producto, donde pueden encontrar información detallada sobre el producto, como características, especificaciones técnicas, imágenes, precio, disponibilidad, entre otros.<br><br>

                Añadir al carrito: Si los usuarios deciden comprar el producto, pueden agregarlo al carrito de compras seleccionando el botón "Agregar al carrito". Los usuarios pueden seguir navegando por la tienda y agregar más productos al carrito antes de proceder a la compra.<br><br>

                Compra: Una vez que los usuarios han agregado todos los productos que desean comprar, pueden proceder a la compra. Los usuarios deben proporcionar su información de envío y pago, como dirección de entrega, método de pago, información de tarjeta de crédito, entre otros.<br><br>

                Confirmación de compra: Después de proporcionar la información de envío y pago, los usuarios deben confirmar la compra. Nuestra tienda en línea mostrará una página de confirmación que detalla los productos comprados, la cantidad, el precio total, los impuestos y los gastos de envío.<br><br>

                Procesamiento del pedido: Una vez que los usuarios han confirmado la compra, nuestra tienda en línea procesará el pedido y lo enviará a los usuarios. El tiempo de envío dependerá de la ubicación del usuario y del método de envío seleccionado.<br><br>

                Recepción del producto: Cuando los usuarios reciben el producto, deben verificar que el artículo recibido sea el correcto y esté en buenas condiciones. Si hay algún problema con el producto, los usuarios deben contactar a nuestra tienda en línea para solicitar una devolución o un reemplazo.</p>
             </div>
            <div class="container_img_cf">
                  <img src="" alt="">
            </div>
                
        </div>
            
    </div>


    <div class="inferior_productos"></div>

  <%- include("./partials/footer.ejs") %>
    
</body>
</html>