<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/headSeccionesInformacion.ejs") %>
</head>
<body>
    
    <%- include("./partials/menu.ejs") %>
    
    <div class="sobreNosotros">
        
        <div class="container_sn">

             <div class="container_info_sn">
                 <h1>SOBRE</h1>
                <H2>NOSOTROS</H2>
                <p class="p1_sn">Bienvenido a nuestra tienda en línea de productos tecnológicos. Somos una empresa dedicada a ofrecer productos de alta calidad a precios competitivos para satisfacer las necesidades de nuestros clientes de todo el mundo. Desde nuestros inicios, nos hemos enfocado en brindar una experiencia de compra en línea fácil y satisfactoria, respaldada por un servicio al cliente excepcional y una política de devolución sin complicaciones.<br><br>

                Nuestra amplia selección de productos incluye hardware de computadoras, dispositivos electrónicos, accesorios, software y servicios. Nos esforzamos por mantenernos actualizados con las últimas tendencias y avances en tecnología para ofrecer productos innovadores que satisfagan las necesidades de nuestros clientes. Trabajamos con los mejores fabricantes de productos tecnológicos para garantizar que todos los productos en nuestra tienda en línea sean de alta calidad y confiables.</p>
                
                
             </div>
                   
            <div class="container_img_sn">
                  <img src="../images/kindpng_3964015.png" alt="">
            </div>
                
        </div>
            <p class="p2_sn">Nuestro equipo está formado por expertos en tecnología y servicio al cliente, quienes están disponibles para ayudar a los clientes en cualquier momento. Nos enorgullece ofrecer un servicio al cliente excepcional, desde la selección de productos hasta la entrega y el soporte posventa. Nos aseguramos de que nuestros clientes tengan una experiencia de compra en línea fácil y satisfactoria, y nos esforzamos por responder a todas las preguntas y preocupaciones en el menor tiempo posible.<br><br>

            En nuestra tienda en línea, ofrecemos una experiencia de compra segura y confiable. Estamos comprometidos con la privacidad y la seguridad de nuestros clientes, y utilizamos las últimas tecnologías de seguridad para garantizar que la información del cliente esté protegida en todo momento.<br><br>

            En resumen, nos dedicamos a ofrecer productos tecnológicos de alta calidad a precios competitivos, respaldados por un servicio al cliente excepcional y una política de devolución sin complicaciones. Nuestro equipo está formado por expertos en tecnología y servicio al cliente, quienes están disponibles para ayudar a los clientes en cualquier momento. ¡Gracias por elegirnos como su proveedor de productos tecnológicos en línea!</p>
    </div>


    <div class="inferior_productos"></div>

  <%- include("./partials/footer.ejs") %>
    
</body>
</html>