@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@400;500;700&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

body{
  background: white;
}


@media screen and (min-width: 1700px) {
  body {
    zoom: 135%;
  }
}



/* INICIO INICIO */


/* HEADER *//* HEADER *//* HEADER */

.top_header{
  width: 100%;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  /* position: sticky; */
  display: block;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 2px 0px #20202049;
  background: #eaeaea74;
  /* box-shadow: 1px 10px 30px -5px #20202049; */
  border-bottom: solid #79797957 1px;
}
 
@media (height>=3000px) {
  .top_header {
    top: -30px;
  }
}

.container__header{
  max-width: 1250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}

.logo__header p{
  font-size: 13px;
}

.top_header .logo__header{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container__nav{
  position: relative;
  height: 100%;
}

.top_header nav{
  height: 100%;
}

.top_header nav ul{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.top_header nav ul li{
  list-style: none;
  display: flex;
	justify-content: center;
	align-items: center;
  height: 35px;
  width: 125x;
  transition: border-bottom 0.1s ;
}

.top_header nav ul li:hover{
  border-bottom: 3px solid #9f9f9f;
}

.top_header nav ul li a{
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 13px;
  height: 35px;
  width: 125px;
  display: flex;
	justify-content: center;
	align-items: center;
}

.top_header .inicio_buttom_a {
  background: #1956b4;
  padding: 8px 0px;
  color: white;
}

.top_header .inicio_buttom_a:hover {
  background: #1a4483;
  padding: 8px 0px;
  color: white;
}

.top_header nav ul .inicio_buttom_li:hover{
  border-bottom: 3px solid #1a4483;
}

.top_header .sobre_nosotros{
  width: 115px;
}

.top_header .como_funciona{
  margin-left: 10px;
  margin-right: 10px;
}


/* HEADER_2 *//* HEADER_2 *//* HEADER_2 */

.center_header{
  width: 100%;
  height: 105px;
  font-family: 'Poppins', sans-serif;
  /* position: sticky; */
  display: block;
  top: 0;
  z-index: 100;
  box-shadow: 1px 10px 30px -5px #20202049;
}

@media (height>=3000px) {
  .center_header {
    top: -30px;
  }
}

.logo__header img{
  width: 275px;
  height: 75px;
  margin-top: 15px;
}

.search-container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input[type="text"] {
  width: 700px;
  padding: 8px 0px 8px 20px; 
  font-size: 16px;
  border: solid #1956b4 2px;
  border-radius: 25px 0 0 25px;
}

.search-container button[type="submit"] {
  padding-top: 3px;
  padding-bottom: 1px;
  background-color: #1956b4;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 0 25px 25px 0;
  border: solid #1956b4 2px;
  cursor: pointer;
  width: 60px;
}

.search-container button[type="submit"]:hover {
  background-color: #1956b4;
}

button i{
  font-size: 30px;
  font-weight: 500;
  height: 20px;
}

.carrito_compra i{
  font-size: 40px;
  
}

.carrito_compra button{
  margin-left: 40px;
  background: #ffffff;
  color: #000;
  font-size: 35px;
}

.carrito_compra button:hover{
  background: transparent;
}

/* HEADER 3 *//* HEADER 3 *//* HEADER 3 *//* HEADER 3 *//* HEADER 3 *//* HEADER 3 */

.bottom_header{
  background: #1956b4;
  width: 100%;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  /* position: sticky; */
  display: block;
  top: 0;
  z-index: 100;
  box-shadow: 1px 10px 30px -5px #20202049;
  border-bottom: solid #79797957 1px;
}

@media (height>=3000px) {
  .bottom_header {
    top: -30px;
  }
}

.container__header_3{
  max-width: 1275px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}

.container__nav_3{
  position: relative;
  height: 100%;
}


.bottom_header nav{
  height: 100%;
}

.bottom_header nav ul{
  height: 100%;
  display: flex;
  align-items: center;
  
}

.bottom_header nav ul li{
  list-style: none;
  display: flex;
	justify-content: center;
	align-items: center;
  height: 45px;
  width: 125x;
}

.bottom_header nav ul li:hover{
  border-top: 3px solid #ffffff;
}

.bottom_header nav ul li a{
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  height: 45px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
	justify-content: center;
	align-items: center;
}


/* PORTADA *//* PORTADA *//* PORTADA *//* PORTADA *//* PORTADA *//* PORTADA *//* PORTADA */

.slide-contenedor{
  max-width:100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: auto;
  background:#100049;
  justify-content: center;
  align-items: center;
  display: flex;
}

.miSlider{
  display: none;
  transition: 2s;
  max-height: 100vh;
}

.miSlider img{
  width: 1500px;
  max-height: 100vh;
  height: inherit;
  object-fit: cover;
  vertical-align: top;
  transition: 2s;
}

@media (width >=1600px) {
  .miSlider img{
    width: 1600px;
  }
}

.direcciones{
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  top: auto;
}

.direcciones a{
  color: #fff;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.direcciones a:hover{
  background: rgba(0, 0, 0, .5);
  transition: .5s;
}

.barras{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom:15px;
}

.barra{
  cursor: pointer;
  height:2px;
  width: 25px;
  margin: 0 2px;
  background: #dcdde1;
  display: inline-block;
  margin-left: 3px;
}

.active{
  background-color: #216ce7;
}

.desvanecido{
  animation-name: desvanecido;
  animation-duration: 1.5s;    
}

@keyframes desvanecido {
  from {opacity: .4;}
  to{opacity:1;}
}



.inferior_slider{
  background: #eaeaea;
  width: 100%;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  display: block;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 0px #20202049;
}


.inferior_slider i {
  font-size: 40px;
  margin-left: 40px;
  margin-right: 40px;
  color: #989898;
  display: flex;
  align-items: center;
  align-items: center;
}

.inferior_slider p {
  font-size: 14px;
  margin-left: 5px;
}

.inferior_slider i:hover{
  color: #504f4f;
}





/* CONTENIDO *//* CONTENIDO *//* CONTENIDO *//* CONTENIDO *//* CONTENIDO *//* CONTENIDO */

/* PRODUCTOS MENU */

.tituloProductos_menu_C{
  width: 100%;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  display: block;
  top: 0;
  z-index: 100;
}

.tituloProductos_menu{
  max-width: 1200px;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 0px 20px;
}

.tituloProductos_menu p{
  top: 42px;
  position:relative;
}

.tituloProductos_menu_C .lineaTitulo{
  height: 2px;
  background: #1956b4;
  position: relative;
  bottom: 13px;
  max-width: 1200px;
  display: flex;
  margin: auto;
}


/* TIENDA *//* TIENDA *//* TIENDA *//* TIENDA *//* TIENDA *//* TIENDA *//* TIENDA */


.fondo_container_productos{
  background: #f5f5f5;
}


.container_productos{
  display: flex;
  background: #f5f5f5;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  justify-content: center;
}


.productos {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.producto {
	padding: 20px;
  margin-right: 2px;
  background: #ffffff;
  display: inline-block;
  width: 225px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.producto:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.producto p{
  flex: 1;
}

.producto img {
	width: 175px;
	height: 175px;
}

.producto h4 {
	font-size: 16px;
	margin: 10px 0;
  color: #000;
}

.producto p {
	font-size: 16px;
	margin-bottom: 10px;
}


.precio {
	font-size: 20px;
	font-weight: bold;
	color: #1956b4;
}

button {
	background-color: #1956b4;
	color: #fff;
	border: none;
	padding: 2px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #ccc;
	color: #000;
}

@media only screen and (max-width: 768px) {
  .producto {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .producto {
    width: 100%;
  }
}

.producto h2 {
  font-size: 20px;
}

.producto p {
  font-size: 14px;
}




.productosInicio {
	padding: 20px;
  margin-right: 2px;
  background: #ffffff;
  display: inline-block;
  width: 225px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.productosInicio:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.productosInicio p{
  flex: 1;
}

.productosInicio img {
	width: 175px;
	height: 175px;
}

.productosInicio h4 {
	font-size: 16px;
	margin: 10px 0;
  color: #000;
}

.productosInicio p {
	font-size: 16px;
	margin-bottom: 10px;
}


.precio {
	font-size: 20px;
	font-weight: bold;
	color: #1956b4;
}

button {
	background-color: #1956b4;
	color: #fff;
	border: none;
	padding: 2px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #ccc;
	color: #000;
}

@media only screen and (max-width: 768px) {
  .productosInicio {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .productosInicio {
    width: 100%;
  }
}

.productosInicio h2 {
  font-size: 20px;
}

.productosInicio p {
  font-size: 14px;
}












.inferior_productos{
  background: #ffffff;
}

.containerBlogInicio{
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  max-width: 1600px;
	padding: 25px 0 0 0;
}

.containerBlog{
  display: flex;
  width: 100%;
  margin: 25px auto;
  justify-content: center;
  max-width: 1300px;
  padding: 25px 0 0 0;
  background: #f5f5f5;
  border-radius: 15px;
}


.blogInicio{
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
  max-width: 1900px;
}

.blogInicioArticulo{
  max-width: 1800px;
	padding: 0px;
  display: inline-block;
  width: 580px;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.blogInicioArticulo img {
  width: 100%;
  height: 320px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.blogInicioArticulo p{
  padding: 0 6px;
  color: #000;
}


.blogInicioArticulo:hover img{
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.blogInicioArticulo:hover{
  transform: translateY(-9%);
 
}


.blogArticulo {
  max-width: 1800px;
	padding: 0px;
  display: inline-block;
  width: 580px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.blogArticulo img {
  width: 100%;
  height: 320px;
  margin-bottom: 10px;
}

.blogArticulo p{
  color: #000;
}



.texto-oculto {
  display: none;
}

.ver-mas{
  margin-top: 10px;
  padding: 10px;
}




.cover{
  width: 100%;
  padding-bottom: 60px;
  font-family: 'Poppins', sans-serif;
}

.container__cover{
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cover .container__info{
  max-width: 450px;
  margin-top: 40px;
  z-index: 2;
}

.container__cover h1{
  max-width: 400px;
  font-size: 50px;
  font-weight: 900;
  color: #373737;
}

.container__cover h2{
  max-width: 400px;
  font-size: 50px;
  font-weight: 900;
  color: #216ce7;
  margin-top: -5px;
}

.container__cover p{
  margin-top: 10px;
  color: #373737;
  line-height: 1.5;
}



.container__vector{
  width: 450px;
  height: 500px;
  margin-right: 100px;
  margin-top: 20px;
  display: flex;
  position: relative;
  top: 0px;
  animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector {
  0%{
      transform: translateY(15px);
  }
  25%{
      transform: translateY(-15px);
  }
  100%{
      transform: translateY(15px);
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FCFCFC;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease ;
  z-index: 9999;
  width: 350px;
  height: 50px;
}

.whatsapp-button:hover{
  background: #22a653;
}





.back_productos_inicio{
  width: 100%;
  height: 120px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.back_productos_inicio .image-container {
  display: flex;
  max-width: 1600px;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: cover;
}

.back_productos_inicio .image-container img {
  object-fit: cover;
  margin-right: 27px;
  margin-left: 27px;
}

#logitechLogo{
  width: 100px;
  height: 25px;
}
#razerLogo{
  width: 110px;
  height: 50px;
}
#hpLogo{
  width: 40px;
  height: 40px;
}
#lenovoLogo{
  width: 75px;
  height: 25px;
}
#sonyLogo{
  width: 85px;
  height: 15px;
}
#ryzenLogo{
  width: 60px;
  height: 33px;
}
#intelLogo{
  width: 60px;
  height: 25px;
}
#asusLogo{
  width: 80px;
  height: 30px;
}
#vsgLogo{
  width: 100px;
  height: 35px;
}
#amdLogo{
  width: 70px;
  height: 30px;
}
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

footer{
  font-family: 'Poppins', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: #eaeaea;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000000;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
    font-size: 13px;
    
}
.pie-pagina .grupo-1 .red-social a{
    margin-right: 20px;
    font-size: 25px;
    color: #808080;
}
.pie-pagina .grupo-1 #facebookLogo:hover{
    color: rgb(0, 76, 255);
}
.pie-pagina .grupo-1 #instagramLogo:hover{
  color: rgb(255, 153, 0);
}
.pie-pagina .grupo-1 #twitterLogo:hover{
  color: rgb(0, 136, 255);
}
.pie-pagina .grupo-1 #youtubeLogo:hover{
  color: rgb(255, 0, 0);
}
.pie-pagina .grupo-2{
    background-color: #373737;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}





.nomPrinPokemon{
  width: 100%;
  text-align: center;
}

.imagen_pokemon{
  width: 100%;
  
}



.pokemon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pokemon img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.pokemon p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}


/* boton admin para borrar producto */
.eliminar-producto{ 
  background-color: red;
  margin-left: 50px;
  padding: 5px 10px 5px 10px;
}
/* boton admin para editar producto */
.editar-producto{ 
  background-color: rgb(0, 89, 255);
  padding: 5px 10px 5px 10px;
}







.producto .agregar-producto {
  display: none;
  padding: 5px 10px 5px 10px;
  margin-left: 60px;
  height: 40px;
  border-radius: 50%;
  transition: display 1.5s ease-in-out;
}

.producto:hover .agregar-producto {
  display: flex;
  position:absolute;
  transition: display 1.5s ease-in-out;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-contenido {
  background-color: white;
  margin: auto;
  padding: 10px 20px 20px 20px;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin-top: 10px;
}

.modal-cerrar{
  font-size: 50px;
  height: 50px;
  text-align: right;
  display: block;
}

.modal-cerrar-nombre{
  display: flex;
  align-items: center;
}

.img-desc-img {
  display: flex;
  align-items: center;
}

.modal-cerrar {
  width: 0%;
  margin-right: 30px;
}

.modal-nombre {
  width: 100%;
  font-size: 30px;
}

.modal-imagen {
  width: 50%;
  margin-left: 50px;
  margin-right: 10px;
}

.modal-descripcion {
  width: 50%;
  text-align: justify;
  overflow-y: auto;
  max-height: 400px;
  font-size: 16px;
}

.modal-precio{
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 227, 13);
  margin-bottom: 10px;
}

.modal-agregar-carrito{
  padding: 9px;
  width: 100%;
}






#actualizar-producto{
  padding: 5px 10px 5px 10px;
  background: rgb(255, 196, 0);
}

#crear-producto{
  padding: 5px 10px 5px 10px;
  background: green;
}


.modal-backdrop{
  height: 0;
  width: 0;
}


body p{
  margin-bottom: 0;
}


