<div class="inferior_slider">
    <a href="/tienda/portatil"><i class='bx bx-laptop'><p>Portatil</p></i></a>
    <a href="/tienda/pc"><i class='bx bx-desktop'><p>Pc</p></i></a>
    <a href="/tienda/audio"><i class='bx bx-headphone'><p>Audio</p></i></a>
    <a href="/tienda/teclado"><i class='bx bxs-keyboard'><p>Teclado</p></i></a>
    <a href="/tienda/mouse"><i class='bx bxs-mouse'><p>Mouse</p></i></a>
    <a href="/tienda/antenas"><i class='bx bx-wifi'><p>Antenas Wi-fi</p></i></a>
    <a href="/tienda/procesadores"><i class='bx bx-chip'><p>Procesadores</p></i></a>
</div>