<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <img src="../images/banner cyber monday morado.jpg" class="fondodashboard" alt="" style="width: 100%; height: 87vh;">
</div>
<!-- /.content-wrapper -->