
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="./">
                <img src="../images/eontech_1.png" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una tienda en línea especializada en productos tecnologicos. Ofrecemos una amplia selección de componentes de alta calidad y accesorios a precios competitivos.</p>
            <p>Nuestro objetivo es brindar a los clientes una experiencia de compra sencilla y satisfactoria, respaldada por un servicio al cliente excepcional. ¡Gracias por elegirnos como su proveedor de productos tecnologicos!</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/" class="fab fa-facebook" target="_blank" id="facebookLogo"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank" id="instagramLogo"></a>
                <a href="https://www.twitter.com/" class="fa fa-twitter" target="_blank" id="twitterLogo"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube" target="_blank" id="youtubeLogo"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Eontech</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>



<!-- <script src="./js/config.js"></script> -->

    <script src="../js/carrito.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

