<div class="back_productos_inicio">
    <div class="image-container">
        <img src="./images/logitechLogo.png" id="logitechLogo">
        <img src="./images/razerLogo.png" id="razerLogo">
        <img src="./images/hpLogo.png" id="hpLogo">
        <img src="./images/lenovoLogo.png" id="lenovoLogo">
        <img src="./images/sonyLogo.png" id="sonyLogo">
        <img src="./images/ryzenLogo.png" id="ryzenLogo">
        <img src="./images/intelLogo.png" id="intelLogo">
        <img src="./images/asusLogo.png" id="asusLogo">
        <img src="./images/vsgLogo.avif" id="vsgLogo">
        <img src="./images/amdLogo.png" id="amdLogo">
      </div>
</div>