<section class="top_header">
    
    <div class="container__header">
        <div class="logo__header">
            <p>¡Bienvenido a Eontech!</p>
            
        </div>    
        <div class="container__nav">
            <nav>
                <ul>
                    <li class="inicio_buttom_li"><a href="/tienda" class="inicio_buttom_a">Tienda</a></li>
                    <li><a href="../comoFunciona" class="como_funciona">Como funciona</a></li>
                    <li><a href="../sobreNosotros" class="sobre_nosotros">Sobre Nosotros</a></li>
                    <li><a href="../contact">Contactanos</a></li>
                    <li><a href="../loginUser">Iniciar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </div>
  
  </section>
  
  
  <section class="center_header">
  
    <div class="container__header">
        <div class="logo__header">
            <a href="/"><img src="../images/eontech_1.png" alt="Logo"></a>
        </div>    
        <div class="search-container">
            <form action="#" method="get">
            <input type="text" placeholder="Buscar" name="search" id="search" autocomplete="off">
            <button type="submit"><i class='bx bx-search'></i></button>
            </form>
            <div class="carrito_compra">
                <button><a
              data-bs-toggle="modal"
              data-bs-target="#modal"
            >
              <i style="font-size: 35px;" class="bx bx-cart"><i style="        width: 30px;
                height: auto;
                color: white;
                background: #2112fb;
                font-size: 20px;
                padding: 5px;
                position: absolute;
                border-radius: 50%;" id="carritoContenedor">0</i></i>
            </a></a></button>
            </div>
            
        </div>
    </div>

    <div class="container-xl">
        <div class="modal" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Carrito</h5>
                <button type="button" class="close" style="background-color: white; color: black;" data-bs-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <span>Precio total:</span>
                <b style="margin-right:20px;" class="text-center" id="precioTotal"></b>
                <a href="loginUser" type="button" id="procesarCompra" class="btn btn-primary">
                  Continuar compra
                </a>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Cerrar
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
  
  </section>
  
  
  <section class="bottom_header">
  
    <div class="container__header_3">
        <div class="container__nav_3">
            <nav>
                <ul>
                    <li><a href="../" class="inicio_buttom">INICIO</a></li>
                    <li><a href="../tienda">TIENDA ONLINE</a></li>
                    <li><a href="../acerca_de.html" class="acerca">SOPORTE TECNICO</a></li>
                    <li><a href="../contact">CONTACTANOS</a></li>
                    <li><a href="../blog">BLOG</a></li>
                </ul>
            </nav>
        </div>
    </div>
  
  </section>



  
  